<div class="<%= 'code-unavaiable' if (@code.nil? || !@code.available?) %>">
	<%= root_url + @code.code if @code %>
</div>
<%= @code.remaining_time.strftime "%H:%M:%S" if !@code.nil?%>
<%= form_for :new_code, url: new_code_url do |f| %>
	<%= f.submit 'new recruit code', :class => 'submit-button' %>
<% end %>

<div class="tree">
	<%= draw_tree @user%>
</div>
