<%= javascript_include_tag "welcome", :async => true%>
<div id="welcome-dialog-container">
	<% @slides.times do |n| %>
		<div class="slide<%= ' show' if n == @slide.to_i %>">
			<%= render "slide#{n}" %>
		</div>
	<% end %>

	<%= link_to 'prev', ({ id: @slide - 1 }), class: 'prev side-btn' if @slide && @slide > 0 %>

	<%= link_to 'skip', authenticated_root_path, id: 'skip-slides' %>

	<% if !@slide || @slide < @slides - 1 %>
		<%= link_to 'next', { id: @slide.to_i + 1 }, class: 'next side-btn'%>
	<% else %>
		<%= link_to 'done', { controller: :dash }, class: 'done side-btn' %>
	<% end %>
</div>
