<%= javascript_include_tag "login" %>
<h1>Are <b>you</b> in the club?</h1>
<div class="centered-form-container">
	<% if @user and @user[:errors] %>
		<ul>
			<% @user[:errors].each do |msg| %>
			<li>
				<%= msg.to_s %>
			</li>
			<% end %>
		</ul>
	<% end %>
	<%= form_for :login, url: { controller: 'auth', action: 'login' } do |f| %>
		<%=
			f.text_field :name,
				:placeholder => 'name',
				:class => 'name-field',
				:autofocus => 'true'
		%>
		<%=
			f.password_field :password,
				:placeholder => 'password',
				:class => 'password-field'
		%>
		<%= f.submit :login, :class => 'submit-button' %>
	<% end %>
</div>
<%= link_to 'no? join now', join_url, class: 'footer-link' %>
