<%= javascript_include_tag 'dash', :async => true %>
<%= javascript_include_tag 'payment', :async => true %>
<h1>Registration Fee</h1>
<div class="centered-payment-form">

	<div class="bitcoin-remaining">
		<span>send</span>
		<div class="bitcoin-amount">
			<%= text_field_tag :remaining,
				@remaining,
				readonly: true,
				class: 'remaining' %>
			<%= label_tag :remaining, 'BTC' %>
		</div>
		<span>to the address:</span>
	</div>

	<img class="bitcoin-qr" src="<%= @qr_url %>" />

	<%= text_field_tag :address,
		@address,
		readonly: true,
		class: 'bitcoin-address' %>

	<%= button_tag :copy,
		class: 'copy-button',
		'data-clipboard-target': '.bitcoin-address' %>

	<%= link_to 'reload',
		{ controller: :payment },
		class: 'reload-button replay-button' %>
</div>
<%= @other %>
