<h1>Hey, <%= @user.name.capitalize %></h1>
<p>Welcome to skeem club.</p>
<p>Lets go over the basics.</p>
<div class="fig">
	<%= image_tag 'point_to_user.svg', id: 'point-to-user' %>
	<%= image_tag 'point_to_earnings.svg', id: 'point-to-earnings' %>
	<div class="tree tree-ttb">
		<ol>
			<li>
				<a><%= @user.to_s %></a>
			</li>
		</ol>
	</div>
	<div class="net-profit currency negative">
		<%= as_currency (0), true %>
	</div>
</div>
