<div id="dash-title-bar">
	<div>Welcome, <%= @user.name %></div>
	<a href="<%= logout_url.to_s %>">logout</a>
</div>

<div class="dash-section">
	<h1>Your recruit codes</h1>
	<ul class="recruit-code-list">
		<% @codes.each do |code| %>
			<li class="recruit-code-entry">
				<div class="recruit-code"><%= (root_url + code.code).to_s %></div>
				time remaining <a class="recruit-code-time"><%= code.time_until_expire.strftime "%H:%M:%S" %></a>
			</li>
		<% end %>
	</ul>
	<% if @allowd_to_create_codes %>
		<%= form_for :new_code, url: new_code_url do |f| %>
			<%= f.submit 'new recruit code', :class => 'submit-button' %>
		<% end %>
	<% else %>
		<div class="error-message">
			<ol>
				<li>you've hit your limit for recruit code creation</li>
				<li>your exist codes most expire or be claimed before you can create more</li>
			</ol>
		</div>
	<% end %>
</div>

<div class="dash-section">
	<h1>Earnings <%= as_currency @user.earned %></h1>
	<ol>
		<% @user.transactions.each do |transaction| %>
			<li class="transaction-record">
				<div class="currency">+<%= as_currency transaction.amount @user %></div>
				<div class="description">
					<%= transaction.created_at.strftime '%b %d at %H:%M' %>
					when <a><%= transaction.from %></a> was recruited by
					<a><%= (transaction.from.parent == @user) ? 'you' : transaction.from.parent %></a>
				</div>
				<div class="chain">
					<ol>
						<li><a><%= transaction.from %></a></li>
						<%= user_chain transaction.up_to(@user) %>
					</ol>
				</div>
			</li>
		<% end %>
	</ol>
	<% if @user.children.length == 0 %>
		<p>you haven't recruited any subordinates yet</p>
	<% end %>
</div>

<div class="dash-section">
	<h1>Your pyramid</h1>
	<div class="tree">
		<ol>
			<li>
				<% if @user.parent %>
					<a><%= @user.parent.name %></a>
				<% end %>
				<%= draw_tree @user.subtree.arrange(:order => :created_at) %>
			</li>
		</ol>
	</div>
</div>
