<div id="dash-title-bar">
	<p>Welcome, <%= @user.name %></p>
	<a href="<%= logout_url.to_s %>">logout</a>
</div>

<% if @code.available? %>
	<div><%= root_url + @code.code if @code %></div>
	<%= @code.time_until_expire.strftime "%H:%M:%S" if !@code.nil?%>
<% else %>
	<p><%= @code.availability %></p>
<% end %>

<%= form_for :new_code, url: new_code_url do |f| %>
	<%= f.submit 'new recruit code', :class => 'submit-button' %>
<% end %>

<p>earned: <%= as_currency @user.earned %></p>

<div class="tree">
	<ol>
		<li>
			<a><%= if @user.parent then @user.parent.name else 'self' end %></a>
			<%= draw_tree @user.subtree.arrange(:order => :created_at) %>
		</li>
	</ol>
</div>

<ol>
	<p>earnings</p>
	<% @user.transactions.each do |transaction| %>
		<li>
			<div>+ <%= as_currency transaction.amount @user %> when <%= transaction.from %> joined</div>
			<div><%= transaction.from %> -&gt; <%= transaction.up_to(@user).join(' -> ') %></div>
		</li>
	<% end %>
</ol>

<% if @user.children.length == 0 %>
	<p>you haven't recruited any subordinates yet</p>
<% end %>
