<%= javascript_include_tag "dash", :async => true %>
<div id="dash-title-bar">
	<div>Welcome, <%= @user.name %></div>
	<a href="<%= logout_url.to_s %>">logout</a>
</div>

<% @notifications&.each do |notification| %>
	<%= render 'notification', **notification %>
<% end %>

<% if !@user.fee_payed %>
	<%= render 'notification', {
			text: t('no_fee_notification_html'),
			type: :warn,
		}
	%>
<% end %>

<%= render 'codes' %>
<%= render 'earnings' %>
<%= render 'tree' %> 
